*{
  margin: 0px;
  padding:0px;
}

html{
    margin: 0px;
    margin: 0 auto;
  }
  body{
    background-size: 100% auto;
    background-repeat:no-repeat;
  }

  .box{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    list-style-type: none;
    padding-right:4vw;
  }

 .boxword{
    font-family: Segoe UI;
    font-weight: bold;
    color: rgb(243, 243, 243);
    font-size: 28px;
    padding-top:3vh;
    padding-left:5vw;
  }

  .boxword:hover{
    color: rgb(255, 215, 82);
  }
  
#content a{
  color:rgb(243, 243, 243);
}

#content a:hover{
  color:rgb(255, 215, 82);
}

.imiu{
  cursor: default;
  display: flex;
  justify-content:flex-end;
  font-family: Segoe UI;
  font-style: italic;
  font-weight: 900;
  font-size: 230px;
  padding-top:20vh;
  /*padding-right:6vw;*/
  color: rgb(243, 243, 243);
  animation-duration: 3s;/*動畫時間*/
  animation-name:imiu;/*動畫名稱*/
  animation-fill-mode: forwards;/*動畫停在最後一格*/
}

@keyframes  imiu
{
  0%{
  padding-right:-400vw;}
  100%{
  padding-right:6vw;}
}
  .hi{
    cursor: default;
    display: flex;
    justify-content:flex-end;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    /*padding-right:4vw;*/
    margin-top: -5vh;
    color: rgb(243, 243, 243);
    animation-duration: 3s;/*動畫時間*/
    animation-name:imiu;/*動畫名稱*/
    animation-fill-mode: forwards;/*動畫停在最後一格*/
}

@keyframes  hi
{
  0%{
    padding-right:-400vw;}
  100%{
    padding-right:6vw;}
}