*{
  margin: 0px;
  padding:0px;
}

html{
    margin: 0px;
    margin: 0 auto;
  }
  body{
    height: auto;
    background-size: 100% auto;
    background-color: rgb(255, 255, 255);
    background-repeat:no-repeat;
  }
  .box{
    position: relative;
    margin-top:2vh;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    list-style-type: none;
    padding-left:3vw;
  }

 .boxword{
    font-family: Segoe UI;
    font-weight: bold;
    color: rgb(29, 29, 29);
    font-size: 28px;
    padding-top:3vh;
    padding-left:5vw;
  }
  .boxword:hover{
    color: rgb(255, 215, 82);
  }

  .boxword2{
    cursor:default;
    font-family: Segoe UI;
    font-weight: bold;
    color: rgb(29, 29, 29);
    font-size: 28px;
    padding-top:3vh;
    padding-left:5vw;
  }
  .about{
    position: absolute;
    top:3.5vh;
    left:6.7vw;
    width:115px;
    height:35px;
    z-index:1;
  }

  #content a{
    color: rgb(29, 29, 29);
  }
  
  #content a:hover{
    color:rgb(255, 215, 82);
  }

  .say{
    flex-direction: row;
  }
  .say1{
    position: absolute;
    top:70vh;
    left:20vw;
    width:100px;
    height:20px;
    }
  .say1 img {
    position:absolute;
    /* CSS3淡出淡入效果,1秒 */
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
  }

  .say1 img:nth-of-type(2):hover{
    opacity:0; 
  }
  .say2{
    position: absolute;
    top:35vh;
    left:15vw;
    }
    .say2 img {
      position:absolute;
      /* CSS3淡出淡入效果,1秒 */
      -webkit-transition: opacity 0.1s ease-in-out;
      -moz-transition: opacity 0.1s ease-in-out;
      -o-transition: opacity 0.1s ease-in-out;
      transition: opacity 0.1s ease-in-out;
    }
  
    .say2 img:nth-of-type(2):hover{
      opacity:0; 
    }
  .say3{
    position: absolute;
    top:18vh;
    left:40vw;
    }
    .say3 img {
      position:absolute;
      /* CSS3淡出淡入效果,1秒 */
      -webkit-transition: opacity 0.1s ease-in-out;
      -moz-transition: opacity 0.1s ease-in-out;
      -o-transition: opacity 0.1s ease-in-out;
      transition: opacity 0.1s ease-in-out;
    }
  
    .say3 img:nth-of-type(2):hover{
      opacity:0; 
    }
  .say4{
    position: absolute;
    top:32vh;
    right:32vw;
  }
  .say4 img {
    position:absolute;
    /* CSS3淡出淡入效果,1秒 */
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
  }

  .say4 img:nth-of-type(2):hover{
    opacity:0;
  }
  .say5{
    position: absolute;
    top:65vh;
    right:24vw;
  }
  .say5 img {
    position:absolute;
    /* CSS3淡出淡入效果,1秒 */
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
  }

  .say5 img:nth-of-type(2):hover{
    opacity:0;
  }
  .imiu{
    cursor: default;
    display: flex;
    justify-content:flex-end;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 900;
    font-size: 210px;
    position: relative;
    top:68vh;
    right:5vw;
    color: rgb(243, 243, 243);
  }

  .im{
    position: relative;
    right:53vw;
  }

  .iu{
    position: relative;
    right:10vw;
  }


  .iyou{
    cursor: default;
    display: flex;
    justify-content:flex-end;
    font-family: Segoe UI;
    font-style: italic;
    font-size: 30px;
    position: relative;
    top:58.8vh;
    right:28vw;
    color: rgb(243, 243, 243);
  }

  .hi{
    display: flex;
    justify-content:flex-end;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    padding-right:7vw;
    margin-top: -5vh;
    color: rgb(243, 243, 243);
}

.lyrics{
  cursor: default;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 35px;
  color:#9D73E6;
  text-align:center;
  line-height:55px;
  position: relative;
  top :65vh;
  left:0vw;
}

.signiu{
  width:250px;
  height:100px;
  position: relative;
  top:50vh;
  left:80vw;
}

.littleiu{
  width:75px;
  height:93.75px;
  position: absolute;
  top:4vh;
  right:2.5vw;
  z-index:0;
}

.iconbox{
  justify-content: left;
  position: absolute;
  top:140vh;
  left:5vw;
  padding-bottom:50px;
  display: flex;
  flex-direction:column;
  margin-top:6vh;
  z-index:1;
}
.fb{
  width:30px;
  height:30px;
  padding:8px 0px 25px 0px;
}

.ig{
  width:30px;
  height:30px;
  padding:8px 0px 25px 0px;
}

.tt{
  width:30px;
  height:30px;
  padding:8px 0px 25px 0px;
}

.yt{
  width:30px;
  height:30px;
  padding:8px 0px 25px 0px;
}
.fb:hover{
  transform : scale(1.2);
}

.ig:hover{
  transform : scale(1.2);
}

.tt:hover{
  transform : scale(1.2);
}

.yt:hover{
  transform : scale(1.2);
}

.aicon{
  width:30px;
  height:30px;
  margin-bottom:4vh;
}

.square{
  position: absolute;
  top :175vh;
  left:20vw;
  z-index:0;
  width: 15px;
  height:100px;
}

.album{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 50px;
  color:#711FFF;
  position: absolute;
  top :190vh;
  left:30vw;
  z-index:1;
}

.album:hover{
  transform: scale(1.2);
}

.item1{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 20px;
  color:#000000;
  position: absolute;
  top :200vh;
  left:30vw;
  z-index:1;
}

.item1:hover{
  transform: scale(1.2);
}

.ed{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 50px;
  color:#711FFF;
  position: absolute;
  top :215vh;
  left:30vw;
  z-index:1;
}

.ed:hover{
  transform: scale(1.2);
}

.item2{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 20px;
  color:#000000;
  position: absolute;
  top :225vh;
  left:30vw;
  z-index:1;
}

.item2:hover{
  transform: scale(1.2);
}

.cover{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 50px;
  color:#711FFF;
  position: absolute;
  top :245vh;
  left:30vw;
  z-index:1;
  }

.cover:hover{
  transform: scale(1.2);
}

.item3{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 20px;
  color:#000000;
  position: absolute;
  top :255vh;
  left:30vw;
  z-index:1;
}

.item3:hover{
  transform: scale(1.2);
}

.mix{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 50px;
  color:#711FFF;
  position: absolute;
  top :190vh;
  right:40.8vw;
  z-index:1;
}

.mix:hover{
  transform: scale(1.2);
}

.item4{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 20px;
  color:#000000;
  position: absolute;
  top :200vh;
  right:32.5vw;
  z-index:1;
}

.item4:hover{
  transform: scale(1.2);
}

.japan{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 50px;
  color:#711FFF;
  position: absolute;
  top :215vh;
  right:34vw;
  z-index:1;
}

.japan:hover{
  transform: scale(1.2);
}

.item5{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 20px;
  color:#000000;
  position: absolute;
  top :225vh;
  right:33.5vw;
  z-index:1;
}

.item5:hover{
  transform: scale(1.2);
}

.single{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 50px;
  color:#711FFF;
  position: absolute;
  top :245vh;
  right:37.5vw;
  z-index:1;
}

.single:hover{
  transform: scale(1.2);
}

.item6{
  cursor: default;
  display: flex;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 20px;
  color:#000000;
  position: absolute;
  top :255vh;
  right:38vw;
  z-index:1;
}

.item6:hover{
  transform: scale(1.2);
}

.circle1{
  position: relative;
  top :-34.5vh;
  left:0;
  z-index:0;
  width: 600px;
  height:400px;
}

.circle2{
  position: relative;
  top :80vh;
  left:36.4vw;
  z-index:0;
  width: 600px;
  height:900px;
}

.circle3{
  position: absolute;
  top :210vh;
  left:0;
  z-index:0;
  width: 670px;
  height:610px;
}