*{
  margin: 0px;
  padding:0px;
}

html{
  margin: 0px;
  margin: 0 auto;
}
body{
  background-size: cover;
  background-repeat:no-repeat;
  background-color: rgb(255, 255, 255);
}

.boxbox{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  list-style-type: none;
  margin-right:10vw;
}

.boxword{
  font-family: Segoe UI;
  font-weight: bold;
  color: rgb(29, 29, 29);
  font-size: 28px;
  margin-top:5vh;
  margin-left:6vw;
}
.boxword:hover{
  color: rgb(255, 215, 82);
}

.boxword2{
  cursor:default;
  font-family: Segoe UI;
  font-weight: bold;
  color: rgb(243, 243, 243);
  font-size: 28px;
  margin-top:5vh;
  margin-left:6vw;
}
.store{
  position: absolute;
    z-index:1;
    top:5.5vh;
    right:21vw;
    width:93px;
    height:33px;
}

.leftbox {
  float: left;
  max-width: 68px;
  background: #fff;
  margin-top:7vh;
  margin-left:5vw;
  cursor: pointer;
}

.leftword {
  list-style: none;
  writing-mode: vertical-rl;/* FF */
  transform: scale(-1, -1);
  margin-top:8vh;
  font-family: Segoe UI;
  font-weight: 750;
  color: rgb(29, 29, 29);
  font-size: 20px;
}


#content a{
  color: rgb(29, 29, 29);
}

#content a:hover{
  color:#711FFF;
}

.littleiu{
  width:75px;
  height:93.75px;
  position: absolute;
  top:6vh;
  right:2.5vw;
  z-index:0;
}
.iconbox{
  margin-top:-75vh;
  margin-left:5vw;
  margin-bottom:50px;
  display: flex;
  flex-direction:column;
  position: absolute;
  z-index:2;
}

.fb{
  width:30px;
  height:30px;
  padding:3px 0px 20px 0px;

}

.ig{
  width:30px;
  height:30px;
  padding:3px 0px 20px 0px;
}

.tt{
  width:30px;
  height:30px;
  padding:3px 0px 20px 0px;
}

.yt{
  width:30px;
  height:30px;
  padding:3px 0px 20px 0px;
}
.fb:hover{
  transform : scale(1.2);
}

.ig:hover{
  transform : scale(1.2);
}

.tt:hover{
  transform : scale(1.2);
}

.yt:hover{
  transform : scale(1.2);
}
.aicon{
  width:40px;
  height:40px;
  margin-bottom:3.5vh;
}

.bigpics{
 
  width: 1710px;
  height: 790px;
  position: relative;
  
}

.bigpics div {
  position: absolute;
  z-index:1;
  top:-35vh;
  left:9.7vw;
  opacity: 0;
  filter: alpha(opacity=0);
}

.bigpics div {
  -webkit-animation: round 10s linear infinite;
          animation: round 10s linear infinite;
}

@-webkit-keyframes round {
  10% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 淡入*/
  }
  50% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
  }
  60% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 5-6秒淡出*/
  }
}
@keyframes round {
  10% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 淡入*/
  }
  50% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
  }
  60% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 5-6秒淡出*/
  }
}

.bigpics div:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.bigpics div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.pic1{
  width:300px;
  height:300px;
  position: absolute;
  top:120vh;
  left:10vw;
  margin-bottom:20vh;
  z-index:4;
}

.p1{
  width:297px;
  height:297px;
  position: absolute;
  top:120.2vh;
  left:10.2vw;
  margin-bottom:20vh;
  z-index:2;
}

.pic1:hover{
  cursor:pointer;
  opacity: 0%;
}

.pic2{
  width:300px;
  height:300px;
  position: absolute;
  top:120vh;
  left:32vw;
  margin-bottom:20vh;
  z-index:4;
}

.p2{
  width:297px;
  height:297px;
  position: absolute;
  top:120.3vh;
  left:32.2vw;
  margin-bottom:20vh;
  z-index:2;
}

.pic2:hover{
  cursor:pointer;
  opacity: 0%;
}

.pic3{
  width:300px;
  height:300px;
  position: absolute;
  top:120vh;
  left:54vw;
  margin-bottom:20vh;
  z-index:4;
}

.p3{
  width:297px;
  height:297px;
  position: absolute;
  top:120.2vh;
  left:54.1vw;
  margin-bottom:20vh;
  z-index:2;
}

.pic3:hover{
  cursor:pointer;
  opacity: 0%;
}

.pic4{
  width:300px;
  height:300px;
  position: absolute;
  top:120vh;
  left:76vw;
  margin-bottom:20vh;
  z-index:4;
}

.p4{
  width:297px;
  height:297px;
  position: absolute;
  top:120.4vh;
  left:76.1vw;
  margin-bottom:20vh;
  z-index:2;
}

.pic4:hover{
  cursor:pointer;
  opacity: 0%;
}

.pic5{
  width:300px;
  height:300px;
  position: absolute;
  top:180vh;
  left:10vw;
  margin-bottom:20vh;
  z-index:4;
}

.p5{
  width:297px;
  height:297px;
  position: absolute;
  top:180vh;
  left:10vw;
  margin-bottom:20vh;
  z-index:2;
}

.pic5:hover{
  cursor:pointer;
  opacity: 0%;
}

.pic6{
  width:300px;
  height:300px;
  position: absolute;
  top:180vh;
  left:32vw;
  margin-bottom:20vh;
  z-index:4;
}

.p6{
  width:297px;
  height:297px;
  position: absolute;
  top:180.2vh;
  left:32.1vw;
  margin-bottom:20vh;
  z-index:2;
}

.pic6:hover{
  cursor:pointer;
  opacity: 0%;
}

.pic7{
  width:300px;
  height:300px;
  position: absolute;
  top:180vh;
  left:54vw;
  margin-bottom:20vh;
  z-index:4;
}

.p7{
  width:297px;
  height:297px;
  position: absolute;
  top:180.2vh;
  left:54.1vw;
  margin-bottom:20vh;
  z-index:2;
}

.pic7:hover{
  cursor:pointer;
  opacity: 0%;
}

.pic8{
  width:300px;
  height:300px;
  position: absolute;
  top:180vh;
  left:76vw;
  z-index:4;
}


.p8{
  width:297px;
  height:297px;
  position: absolute;
  top:180.1vh;
  left:76.1vw;
  margin-bottom:20vh;
  z-index:2;
}

.pic8:hover{
  cursor:pointer; 
  opacity: 0%;
}

.car1{
  width:32px;
  height:27px;
  position: absolute;
  top:155vh;
  left:24vw;
}
.car2{
  width:32px;
  height:27px;
  position: absolute;
  top:155vh;
  left:46vw;
}
.car3{
  width:32px;
  height:27px;
  position: absolute;
  top:155vh;
  left:68vw;
}
.car4{
  width:32px;
  height:27px;
  position: absolute;
  top:155vh;
  left:90vw;
}
.car5{
  width:32px;
  height:27px;
  position: absolute;
  top:215vh;
  left:24vw;
}
.car6{
  width:32px;
  height:27px;
  position: absolute;
  top:215vh;
  left:46vw;
}
.car7{
  width:32px;
  height:27px;
  position: absolute;
  top:215vh;
  left:68vw;
}
.car8{
  width:32px;
  height:27px;
  position: absolute;
  top:215vh;
  left:90vw;
}

.car1:hover {
  animation : swing 1s 1;
  animation-duration: 0.5s;
}

.car2:hover {
  animation : swing 1s 1;
  animation-duration: 0.5s;
}

.car3:hover {
  animation : swing 1s 1;
  animation-duration: 0.5s;
}

.car4:hover {
  animation : swing 1s 1;
  animation-duration: 0.5s;
}

.car5:hover {
  animation : swing 1s 1;
  animation-duration: 0.5s;
}

.car6:hover {
  animation : swing 1s 1;
  animation-duration: 0.5s;
}

.car7:hover {
  animation : swing 1s 1;
  animation-duration: 0.5s;
}

.car8:hover {
  animation : swing 1s 1;
  animation-duration: 0.5s;
}

.buywordfat{
  font-family: Segoe UI;
  font-weight: bold;
  color: rgb(29, 29, 29);
  font-size: 18px;
}

.buywordthin{
  cursor: default;
  font-family: Segoe UI;
  color: rgb(29, 29, 29);
  font-size: 16px;
}

.fat1{
  position: absolute;
  position: absolute;
  top:154.5vh;
  left:10.5vw;
}

.fat1:hover{
  cursor:default; 
  transform : scale(1.1);
}

.fat2{
  position: absolute;
  top:154.5vh;
  left:32.5vw;
}

.fat2:hover{
  cursor:default; 
  transform : scale(1.1);
}

.fat3{
  position: absolute;
  top:154.5vh;
  left:54.5vw;
}

.fat3:hover{
  cursor:default; 
  transform : scale(1.1);
}

.fat4{
  position: absolute;
  top:154.5vh;
  left:76.5vw;
}

.fat4:hover{
  cursor:default; 
  transform : scale(1.1);
}

.fat5{
  position: absolute;
  top:214.5vh;
  left:10.5vw;
}

.fat5:hover{
  cursor:default; 
  transform : scale(1.1);
}

.fat6{
  position: absolute;
  top:214.5vh;
  left:32.5vw;
}

.fat6:hover{
  cursor:default; 
  transform : scale(1.1);
}

.fat7{
  position: absolute;
  top:214.5vh;
  left:54.5vw;
}

.fat7:hover{
  cursor:default; 
  transform : scale(1.1);
}

.fat8{
  position: absolute;
  top:214.5vh;
  left:76.5vw;
}

.fat8:hover{
  cursor:default; 
  transform : scale(1.1);
}

.thin1{
  position: absolute;
  top:161vh;
  left:10.5vw;
}

.thin2{
  position: absolute;
  top:161vh;
  left:32.5vw;
}

.thin3{
  position: absolute;
  top:161vh;
  left:54.5vw;
}

.thin4{
  position: absolute;
  top:161vh;
  left:76.5vw;
}

.thin5{
  position: absolute;
  top:221vh;
  left:10.5vw;
}

.thin6{
  position: absolute;
  top:221vh;
  left:32.5vw;
}

.thin7{
  position: absolute;
  top:221vh;
  left:54.5vw;
}

.thin8{
  position: absolute;
  top:221vh;
  left:76.5vw;
}



@keyframes  swing  {
  15% { transform:  translateX(3px); }
  40% { transform:  translateX(-3px); }
  65% { transform:  translateX(2px); }
  85% { transform:  translateX(-2px); }
  100% { transform:  translateX(0px); }
}

.stage {
display: flex;
height: 13px;
width: 100%;
}
.box {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-left: 100vw;
  transform-origin: bottom;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(-300px); }
  50%  { transform: translateY(-463px);}
  100% { transform: translateY(-300px); }
}



